.about{
    text-align: center;
    margin: 0 auto;
    width: 20.0625rem;

    &__title{
        font-size: 2rem;
        padding-top: 1.5625em;
        font-family: "Tourney";
        font-weight: 700;
        margin-bottom: 0.5625em;
    }
    &__description{
        font-size: 1rem;
        font-family: "Titillium Web";
        padding-bottom: 1.8125em;
    }
}