.contact{
    text-align: center;
    margin-bottom: 2em;

    &__title{
        font-size: 2rem;
        margin-top: 1.5625em;
        font-family: "Tourney";
        margin-bottom: 0.78125em;

        @include desktop(){
            font-size: 3.75rem;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;

        @include desktop(){
            flex-direction: row;
            justify-content: space-evenly
        }

        &--button{
            font-size: 2.25em;
            font-family: "Righteous";
            color: $first-color;
            border: none;
            border-radius: 0.222em;
            margin-bottom: 0.69444em;
            background-color: $third-color;
            width: 8.333em;
            height: 2.333em;
            cursor: pointer;

            &:hover{
                transform: scale(1.3);
            }
        }

        &--email{
            margin: 0 auto;
            background-color: $third-color;
            width: 18.75em;
            border-radius: 0.5em;
            height: 5.3125em;
            margin-bottom: 1.5625em;

            @include desktop{
                margin: 0;
            }

            &--title{
                font-size: 1.5rem;
                font-family: "Righteous";
                color: $first-color;
                margin-top: 0.25em;
                margin-bottom: 0.291666em;
            }
            &--subtitle{
                font-size: 1rem;
                font-family: "Righteous";
                padding-bottom: 0.625em;
                color: $first-color;
            }
        }
    }
}