.footer{
    background-color: $sixth-color;
    font-size: 1.5rem;
    color: $fourth-color;
    text-align: center;
    font-family: "Righteous";
    padding-top: 1.541666em;
    padding-bottom: 1.5em;
}