.nav{
    background-color: $third-color;
    @include min530(){
        height: 3.125rem;
    }
   

    &__menu{
        display: flex;
        justify-content: center;
        margin-left: 4em;
        padding: 1.2em 0;
        list-style: none;
        font-size: 0.625em;

        & li {
            margin-right: 2.4em;
        }

        & a {
            text-decoration: none;
            color: $sixth-color;
            font-family: 'Righteous';
        }

        @include min530(){
            margin:  0 auto;
            width: 70%;
            transform: translateY(-100%);

        }
        @include desktop(){
            transform: translateY(-80%);
            font-size: 1rem;
        }

    }
    &__lang {
        font-family: 'Righteous';
        color: $sixth-color;
        text-align: right;
        padding-top: 0.625rem;
        padding-right: 1rem;
    

        & button{
            background-color: $third-color;
            border: none;
            color: $sixth-color;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;

        }
    
    }

}