.projects{
    text-align: center;
     &__title{
        font-size: 2rem;
        font-family: "Tourney";
        margin-top: 60px;
        margin-bottom: 58px;
    }
    &__list{
        &--card{

            box-shadow: 10px -9px 6px 8px rgba($third-color,1);
            width: 300px;
            margin: 0 auto;
            padding-bottom: 23px;
            margin-bottom: 97px;
            word-break: break-word;
            

            &--title{
                font-size: 40px;
                font-family: "Righteous";
                padding-top: 18px;
                padding-bottom: 24px;
            }

            &--img{
                width: 251px;
                height: 137px;
                margin-bottom: 27px;

            }

                & h3{
                    font-size: 1.25rem;
                    font-family: "Titillium Web";
                    margin-right: 10px;
                }
                & p, a{
                    margin: 0 auto;
                    font-size: 1rem;
                    font-family: "Titillium Web";
                    margin-bottom: 9px;
                    width: 89%;
                }
                & a{
                    display:block;
                }
            }
        }
    }