.nav {
  background-color: #FF0000;
}
.nav__menu {
  display: flex;
  justify-content: center;
  margin-left: 4em;
  padding: 1.2em 0;
  list-style: none;
  font-size: 0.625em;
}
.nav__menu li {
  margin-right: 2.8em;
}
.nav__menu a {
  text-decoration: none;
  color: #000000;
  font-family: "Righteous";
}

.header {
  background-color: #000000;
  text-align: center;
  padding-top: 2.3125em;
  padding-bottom: 3.1875em;
}
.header__title {
  font-size: 2rem;
  color: #FF0000;
  font-family: "Tourney";
  margin-top: 1.625em;
  margin-bottom: 0.84375em;
}
.header__subtitle {
  color: #FF0000;
  font-family: "Michroma";
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 3.1875em;
}

.about {
  text-align: center;
  margin: 0 auto;
  width: 20.0625rem;
}
.about__title {
  font-size: 2rem;
  padding-top: 1.5625em;
  font-family: "Tourney";
  font-weight: 700;
  margin-bottom: 0.5625em;
}
.about__description {
  font-size: 1rem;
  font-family: "Titillium Web";
  padding-bottom: 1.8125em;
}

.habilities {
  background-color: #000000;
}
.habilities__title {
  text-align: center;
  font-size: 2rem;
  font-family: "Tourney";
  color: #FFFFFF;
  padding-top: 1.1875em;
  margin-bottom: 1.28125em;
}
.habilities__list--card {
  display: flex;
  margin: 0 auto;
}
.habilities__list--card p {
  font-size: 1rem;
  font-family: "Righteous";
  margin-left: 2.5em;
  transform: translateY(50%);
  margin-right: 1.4375em;
  margin-bottom: 1.75em;
  width: 6.25em;
  color: #FFFFFF;
}
.habilities__list--card svg {
  width: 2.375em;
  height: 2.5em;
}

.good svg {
  fill: #00FF00;
}

.medium svg {
  fill: #FFFF00;
}

.bad svg {
  fill: #FF0000;
}

.projects {
  text-align: center;
}
.projects__title {
  font-size: 2rem;
  font-family: "Tourney";
  margin-top: 1.875em;
  margin-bottom: -1.15625em;
}
.projects__list--card {
  box-shadow: 0.625em -0.5625em 0.375em 0.5em red;
  width: 18.75em;
  margin: 0 auto;
  padding-bottom: 1.4375em;
  margin-top: 6.0625em;
  word-break: break-word;
}
.projects__list--card--title {
  font-size: 2.5rem;
  font-family: "Righteous";
  padding-top: 0.45em;
  padding-bottom: 0.6em;
}
.projects__list--card--img {
  width: 15.6875em;
  height: 8.5625em;
  margin-bottom: 1.6875em;
}
.projects__list--card h3 {
  font-size: 1.25rem;
  font-family: "Titillium Web";
  margin-right: 0.5625em;
}
.projects__list--card p, .projects__list--card a {
  margin: 0 auto;
  font-size: 1rem;
  font-family: "Titillium Web";
  margin-bottom: 0.5625em;
  width: 89%;
}
.projects__list--card a {
  display: block;
}

.contact {
  text-align: center;
  margin-bottom: 2em;
}
.contact__title {
  font-size: 2rem;
  margin-top: 1.5625em;
  font-family: "Tourney";
  margin-bottom: 0.78125em;
}
.contact__info {
  display: flex;
  flex-direction: column;
}
.contact__info--button {
  font-size: 2.25em;
  font-family: "Righteous";
  color: #FFFFFF;
  border: none;
  border-radius: 0.222em;
  margin-bottom: 0.69444em;
  background-color: #FF0000;
  width: 8.333em;
  height: 2.333em;
  cursor: pointer;
}
.contact__info--button:hover {
  transform: scale(1.3);
}
.contact__info--email {
  margin: 0 auto;
  background-color: #FF0000;
  width: 18.75em;
  border-radius: 0.5em;
}
.contact__info--email--title {
  font-size: 1.5rem;
  font-family: "Righteous";
  color: #FFFFFF;
  margin-top: 0.25em;
  margin-bottom: 0.291666em;
}
.contact__info--email--subtitle {
  font-size: 1rem;
  font-family: "Righteous";
  padding-bottom: 0.625em;
  color: #FFFFFF;
}

.footer {
  background-color: #000000;
  font-size: 1.5rem;
  color: #A1824A;
  text-align: center;
  font-family: "Righteous";
  padding-top: 1.541666em;
  padding-bottom: 1.5em;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=styles.css.map */